## Import packages

In [48]:
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium import webdriver
import pandas as pd

## Open  Link

In [35]:
driver = webdriver.Chrome(r"C:\Users\Lukasz\anaconda3\chromedriver_win32\chromedriver.exe")
driver.get("https://pokemondb.net/pokedex/all")
driver.maximize_window()

C:\Users\Lukasz\AppData\Local\Temp\ipykernel_6812\3445931493.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r"C:\Users\Lukasz\anaconda3\chromedriver_win32\chromedriver.exe")

In [22]:
#Policy privacy 
button = driver.find_element(By.CLASS_NAME, "gdpr-accept")
try:
    button.click()
except:
    pass
   
    #It might throw an error if the policy pop up is already closed

NoSuchWindowException: Message: no such window: target window already closed
from unknown error: web view not found
  (Session info: chrome=106.0.5249.119)
Stacktrace:
Backtrace:
	Ordinal0 [0x00DB1ED3+2236115]
	Ordinal0 [0x00D492F1+1807089]
	Ordinal0 [0x00C566FD+812797]
	Ordinal0 [0x00C3DFFA+712698]
	Ordinal0 [0x00CA506B+1134699]
	Ordinal0 [0x00CB514A+1200458]
	Ordinal0 [0x00CA18A6+1120422]
	Ordinal0 [0x00C7A73D+960317]
	Ordinal0 [0x00C7B71F+964383]
	GetHandleVerifier [0x0105E7E2+2743074]
	GetHandleVerifier [0x010508D4+2685972]
	GetHandleVerifier [0x00E42BAA+532202]
	GetHandleVerifier [0x00E41990+527568]
	Ordinal0 [0x00D5080C+1837068]
	Ordinal0 [0x00D54CD8+1854680]
	Ordinal0 [0x00D54DC5+1854917]
	Ordinal0 [0x00D5ED64+1895780]
	BaseThreadInitThunk [0x7675FA29+25]
	RtlGetAppContainerNamedObjectPath [0x77407BBE+286]
	RtlGetAppContainerNamedObjectPath [0x77407B8E+238]

## Create Locators

In [40]:
#name 
pokemon_name = driver.find_elements(By.XPATH, "//tbody/tr/td[2]")

#type
pokemon_type = driver.find_elements(By.XPATH, "//tbody/tr/td[3]")

#total
pokemon_total = driver.find_elements(By.XPATH, "//tbody/tr/td[4]")

#HP
pokemon_HP = driver.find_elements(By.XPATH, "//tbody/tr/td[5]")

#Attack
pokemon_Attack = driver.find_elements(By.XPATH, "//tbody/tr/td[6]")

#Defence
pokemon_Defence = driver.find_elements(By.XPATH, "//tbody/tr/td[7]")

#Sp.Atk
pokemon_Sp_Atk = driver.find_elements(By.XPATH, "//tbody/tr/td[8]")

#Sp.Def
pokemon_Sp_Def = driver.find_elements(By.XPATH, "//tbody/tr/td[9]")

#Speed
pokemon_Speed = driver.find_elements(By.XPATH, "//tbody/tr/td[10]")

## Empty list

In [41]:
pokemon_results = []

## Dictionary

In [42]:
for i in range(len(pokemon_name)):
    pokemon_dictionary ={'Name': pokemon_name[i].text,
                        'Type': pokemon_type[i].text,
                        'Total': pokemon_total[i].text,
                         'HP': pokemon_HP[i].text,
                         'Attack': pokemon_Attack[i].text,
                         'Defence':pokemon_Defence[i].text,
                         'Sp Atk' : pokemon_Sp_Atk[i].text,
                         'Sp Def' : pokemon_Sp_Def[i].text,
                         'Speed' : pokemon_Speed[i].text
                          
                        }
    pokemon_results.append(pokemon_dictionary)

In [46]:
print(pokemon_results[1:10])

[{'Name': 'Ivysaur', 'Type': 'GRASS\nPOISON', 'Total': '405', 'HP': '60', 'Attack': '62', 'Defence': '63', 'Sp Atk': '80', 'Sp Def': '80', 'Speed': '60'}, {'Name': 'Venusaur', 'Type': 'GRASS\nPOISON', 'Total': '525', 'HP': '80', 'Attack': '82', 'Defence': '83', 'Sp Atk': '100', 'Sp Def': '100', 'Speed': '80'}, {'Name': 'Venusaur\nMega Venusaur', 'Type': 'GRASS\nPOISON', 'Total': '625', 'HP': '80', 'Attack': '100', 'Defence': '123', 'Sp Atk': '122', 'Sp Def': '120', 'Speed': '80'}, {'Name': 'Charmander', 'Type': 'FIRE', 'Total': '309', 'HP': '39', 'Attack': '52', 'Defence': '43', 'Sp Atk': '60', 'Sp Def': '50', 'Speed': '65'}, {'Name': 'Charmeleon', 'Type': 'FIRE', 'Total': '405', 'HP': '58', 'Attack': '64', 'Defence': '58', 'Sp Atk': '80', 'Sp Def': '65', 'Speed': '80'}, {'Name': 'Charizard', 'Type': 'FIRE\nFLYING', 'Total': '534', 'HP': '78', 'Attack': '84', 'Defence': '78', 'Sp Atk': '109', 'Sp Def': '85', 'Speed': '100'}, {'Name': 'Charizard\nMega Charizard X', 'Type': 'FIRE\nDRAGON', 'Total': '634', 'HP': '78', 'Attack': '130', 'Defence': '111', 'Sp Atk': '130', 'Sp Def': '85', 'Speed': '100'}, {'Name': 'Charizard\nMega Charizard Y', 'Type': 'FIRE\nFLYING', 'Total': '634', 'HP': '78', 'Attack': '104', 'Defence': '78', 'Sp Atk': '159', 'Sp Def': '115', 'Speed': '100'}, {'Name': 'Squirtle', 'Type': 'WATER', 'Total': '314', 'HP': '44', 'Attack': '48', 'Defence': '65', 'Sp Atk': '50', 'Sp Def': '64', 'Speed': '43'}]

# Dataframe

In [49]:
dataframe_pokemon = pd.DataFrame(pokemon_results)

In [50]:
dataframe_pokemon

,Name,Type,Total,HP,Attack,Defence,Sp Atk,Sp Def,Speed
0,Bulbasaur,GRASS\nPOISON,318,45,49,49,65,65,45
1,Ivysaur,GRASS\nPOISON,405,60,62,63,80,80,60
2,Venusaur,GRASS\nPOISON,525,80,82,83,100,100,80
3,Venusaur\nMega Venusaur,GRASS\nPOISON,625,80,100,123,122,120,80
4,Charmander,FIRE,309,39,52,43,60,50,65
...,...,...,...,...,...,...,...,...,...
1070,Basculegion\nFemale,WATER\nGHOST,530,120,92,65,100,75,78
1071,Sneasler,POISON\nFIGHTING,510,80,130,60,40,80,120
1072,Overqwil,DARK\nPOISON,510,85,115,95,65,65,85
1073,Enamorus\nIncarnate Forme,FAIRY\nFLYING,580,74,115,70,135,80,106
1074,Enamorus\nTherian Forme,FAIRY\nFLYING,580,74,115,110,135,100,46

## Cleaning the data

In [52]:
##Replace some characters

dataframe_pokemon['Type'] = dataframe_pokemon['Type'].apply(lambda x: x.replace("\n", ','))

In [62]:
#update on dataframe
dataframe_pokemon

,Name,Type,Total,HP,Attack,Defence,Sp Atk,Sp Def,Speed
0,Bulbasaur,"GRASS,POISON",318,45,49,49,65,65,45
1,Ivysaur,"GRASS,POISON",405,60,62,63,80,80,60
2,Venusaur,"GRASS,POISON",525,80,82,83,100,100,80
3,"Venusaur,Mega Venusaur","GRASS,POISON",625,80,100,123,122,120,80
4,Charmander,FIRE,309,39,52,43,60,50,65
...,...,...,...,...,...,...,...,...,...
1070,"Basculegion,Female","WATER,GHOST",530,120,92,65,100,75,78
1071,Sneasler,"POISON,FIGHTING",510,80,130,60,40,80,120
1072,Overqwil,"DARK,POISON",510,85,115,95,65,65,85
1073,"Enamorus,Incarnate Forme","FAIRY,FLYING",580,74,115,70,135,80,106
1074,"Enamorus,Therian Forme","FAIRY,FLYING",580,74,115,110,135,100,46

In [59]:
dataframe_pokemon['Name'] = dataframe_pokemon['Name'].apply(lambda x: x.replace("\n", '/'))

In [61]:
#update on dataframe
dataframe_pokemon

,Name,Type,Total,HP,Attack,Defence,Sp Atk,Sp Def,Speed
0,Bulbasaur,"GRASS,POISON",318,45,49,49,65,65,45
1,Ivysaur,"GRASS,POISON",405,60,62,63,80,80,60
2,Venusaur,"GRASS,POISON",525,80,82,83,100,100,80
3,"Venusaur,Mega Venusaur","GRASS,POISON",625,80,100,123,122,120,80
4,Charmander,FIRE,309,39,52,43,60,50,65
...,...,...,...,...,...,...,...,...,...
1070,"Basculegion,Female","WATER,GHOST",530,120,92,65,100,75,78
1071,Sneasler,"POISON,FIGHTING",510,80,130,60,40,80,120
1072,Overqwil,"DARK,POISON",510,85,115,95,65,65,85
1073,"Enamorus,Incarnate Forme","FAIRY,FLYING",580,74,115,70,135,80,106
1074,"Enamorus,Therian Forme","FAIRY,FLYING",580,74,115,110,135,100,46

## Dataframe to Excel

In [63]:
dataframe_pokemon.to_excel('pokemon_DB.xlsx', index = False)